﻿@page "/hello-js"

<h3>HelloJavaScript</h3>

@inject IJSRuntime JS
@code {
    /// <summary>
    /// Untuk ngecek apakah JSnya jalan
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // ini keluarnya di console yang user message
            await JS.InvokeVoidAsync("instapack.hello", "Bernardus Joshua Otto Prayoga");

            // ini cuma untuk yang ngetes. entah kenapa kagak bisa. keknya emang bawaan pake yang instapack.hello
            //await JS.InvokeVoidAsync("instapack.hai", "Bernardus Joshua Otto Prayoga");
        }
    }
}
